body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    height: 100px;
    margin-right: 20px;
}

h1 {
    color: #003366; /* Match with the logo's dark blue */
}

#search-input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #003366; /* Match with the logo's dark blue */
    border-radius: 5px;
    font-size: 16px;
}

#loading-indicator {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: #003366; /* Match with the logo's dark blue */
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #002244; /* Match with the logo's dark blue */
    color: white;
    text-align: center;
    white-space: nowrap; /* Prevent wrapping */
    width: auto; /* Fit to content */
}

th:nth-child(1) { width: 5%; }
th:nth-child(2) { width: 5%; }
th:nth-child(3) { width: 5%; }
th:nth-child(4) { width: 5%; }
th:nth-child(5) { width: 5%; }
th:nth-child(6) { width: 5%; }

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr {
    position: relative;
    transition: all 0.3s ease; /* Smooth transition for 3D effect */
}

tr:hover {
    background-color: #e9f7fe;
    color: #333; /* Ensure text is readable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for 3D effect */
    transform: scale(1.02); /* Slightly enlarge row */
}

td[contenteditable="true"] {
    background-color: grey;
    cursor: crosshair;
    color: white;
    width: fit-content;
}

td[contenteditable="true"]:hover {
    background-color: #555;
    color: white;
    transform: scale(1.02); /* Slightly enlarge cell */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.edited {
    background-color: #003366 !important;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #003366; /* Match with the logo's dark blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for 3D effect */
}

button:hover {
    background-color: #002244; /* A darker shade of the logo's dark blue */
    color: white; /* Ensure text is readable */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow for 3D effect */
    transform: translateY(-4px); /* Lift button up */
}

td:hover {
    background-color: #e0e0e0;
    transform: scale(1.02); /* Slightly enlarge cell */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#submit-button {
    position: sticky;
    bottom: 10px;
    margin-bottom: 10px;
}
